<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add  key="configuration" value="DEBUG" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="iniFileName" value="seedbox.ini" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="quiet" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="full" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="init" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="differential" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="incremental" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

</configuration>