<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add  key="configuration" value="RELEASE" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="quiet" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="iniFileName" value="seedbox.ini" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="seriesPath" value="N:\Videos\Series" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="downloadsPath" value="N:\Videos\TempDownload" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="downloadedListFileLog" value="N:\Videos\DownloadedListFileLog.txt" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="duplicatedPath" value="N:\Videos\_Duplicated" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <target value="Console.Out" xdt:Transform="InsertBefore(layout)" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" xdt:Transform="Replace" />
      </filter>
    </appender>

    <root>
      <level value="DEBUG" xdt:Transform="Replace"/>
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>

</configuration>